<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SolarMonitor - Login</title>

   <!-- Material Icons CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="./login.css">

</head>

<body>

    <div class="container">
        <div class="login-card">
                <div class="login-logo"><span class="material-symbols-sharp warning">sunny</span>Solar<span class="warning">Monitor</span></div>
                <div class="login-card-body">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
                    <form action="/" class="user" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user"
                            name="email" aria-describedby="emailHelp"
                            placeholder="Enter Email Address..." required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user"
                            name="password" placeholder="Password" required="">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                            </div>
                        </div>
                        <% if(locals.error) { %>
                            <small class="text-center"><%= error %></small>
                        <% } %>
                        <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="/signup">Create an Account!</a>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>